.calendar-container > div {
  margin: auto;
  width: 90%;
  padding: 0rem 5rem;
  max-width: 1100px;
}
.fc-event {
  background: linear-gradient(
    268.35deg,
    rgba(255, 70, 70, 0.99) 3.47%,
    rgba(255, 114, 70, 0.99) 60.18%
  ) !important;
}
.fc .fc-timegrid-slot {
  height: 2.5rem !important;
}
td {
  border: 1px solid rgb(0, 0, 0) !important;
}

.fc-scroller::-webkit-scrollbar {
  width: 5px;
  transform: translate(10px, 10px);
}

.fc-scroller::-webkit-scrollbar-track {
  background-color: #000000;
}

.fc-scroller::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
  transform: translate(10px, 10px);
}
